body {
    background-color: hsl(0, 35%, 87%);
    font-family: Arial, sans-serif;
}

h1 {
    color: darkblue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;    
}

p {
    color: #333;
    font-size: 18px;
}

img{
    display: block;
    margin: auto;
    width: 50%;
}
figure{
        text-align: center; 
        margin: auto;     
}